@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*{
    margin: 0;
}

/* variables for colors */
:root{
    --primary: #ea3f3f;
    --secondary: #4e4e4e;
    --error: #fa2525;
    --progress:#C51162;
  }


/* set the App initials */
  .App{
      background-color: #FAFAFA;
      font-family: 'Cairo', sans-serif ;
      height: 100vh;
      
  }


  /* Header Part CSS */
  .site-header{
      background-color: white;
      padding: 10px;
      border-bottom: 1px solid lightgrey;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: space-between;
    
  }
  .site-header-logo{
      object-fit: contain;
      margin-left: 6%;
  }

  .auth-modals{
      margin-right: 6%;
  }


  /* posts css customizations */
   .post-container{
       display: flex;
       justify-content: center;
   }

   .right-profile{
       margin-top: 100px;
       
   }

  .post{
      max-width: 500px;
      background-color: white;
      border: 1px solid lightgrey;
      margin-top: 40px;
      padding: 20px;
     
  }
  .post-header{
      display: flex;
      align-items: center;
      padding: 20px 0 20px 0;
  }

  .post-avatar{
      margin-right: 10px;
  }
  
  .post-image{
      width: 100%;
      object-fit: contain;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
  }
  .post-text{
      font-weight: normal;
      padding: 20px;
  }

  .post-image-preview{
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin: 10px auto;
  }

  /* progressBar */
  .progress-bar{
      height: 3px;
      background-color: var(--progress);
  }
  

/* signup form style */
.form-signup{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


/* bottoBar styles */
.bottomWrap{
    position: sticky;
    bottom: 0;
    text-align: center;
    background-color: rgb(243, 247, 245);
    border-top: 1px solid lightgrey;
    padding: 20px;
}
.bottomContent{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20%;
    grid-auto-flow: column;

}


/* upload form style */
  form{
    text-align: center;
  }
  label input{
    height: 0;
    width: 0;
    display: none;
  }
  label{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 10%;
    line-height: 25px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
  }
  label:hover{
    background: var(--primary);
    color: white;
  }

  /* notification icon styling */
  .noti-icon{
      color: var(--primary);
  }
  .noti-icon:hover{
      color: var(--progress);
  }
  .search-icon{
      color: var(--primary);
  }
  .search-icon:hover{
      color: var(--progress);
  }


  /* progress upload */
 .upload-progress{
     height: 3px;
     border-radius: 2px;
     background-color: var(--progress);
 }


 .profile-container{
     margin-left: 30px;
     max-width: 400px;
     padding: 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
     border: 1px solid lightgrey;
     height: 60vh;
     
    }

    .profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .profile-info{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding:8px;
        background: linear-gradient(350deg, rgb(202, 196, 196) 5%, rgb(245, 239, 239) 69%);
        color: black;
        margin: 1px;
        border-radius: 4px;
    }


    /* user posts */
    .user-posts{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 10px;
        margin: 20px auto;
        border-top: 2px solid lightgrey;
        padding: 10px;
        height: 30vh;
        overflow-y: scroll;
    }
    .user-posts::-webkit-scrollbar { 
        display: none; 
    }

    .user-post-Image img{
        width: 100%;
        height: 80px;
        object-fit: cover;
    }